# Q.1

In [1]:
# H0: mu1=mu2
# H1: mu1!=mu2

In [2]:
import pandas as pd
import numpy as np
from scipy import stats

In [3]:
df=pd.read_csv("C:\\Users\Admin\Downloads\\Cutlets.csv")

In [4]:
unita=df['Unit A']

In [5]:
unitb=df['Unit B']

In [6]:
stats.ttest_ind(unita,unitb)

TtestResult(statistic=0.7228688704678063, pvalue=0.4722394724599501, df=68.0)

In [7]:
# pvalue>0.05 then fail to reject null hypothesis

# Q.2

In [8]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import norm
import scipy.stats as stats

In [9]:
# load the dataset
df1=pd.read_csv("C:\\Users\Admin\Downloads\\LabTAT.csv")

In [10]:
df1.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [11]:
alpha=0.05

In [12]:
p_value=stats.f_oneway(df1['Laboratory 1'],df1['Laboratory 2'],df1['Laboratory 3'],df1['Laboratory 4'])

In [13]:
p_value

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)